In [1]:
print('Add')

Add

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Final.csv')

In [4]:
data

        humidity  precipMM  tempC
0             72       0.0     18
1             72       0.0     19
2             72       0.0     18
3             72       0.0     18
4             68       0.0     20
...          ...       ...    ...
116131        28       0.0     30
116132        29       0.0     29
116133        30       0.0     27
116134        31       0.0     26
116135        32       0.0     25

[116136 rows x 3 columns]

In [5]:
data['HeatStroke'] = 0

In [6]:
data

        humidity  precipMM  tempC  HeatStroke
0             72       0.0     18           0
1             72       0.0     19           0
2             72       0.0     18           0
3             72       0.0     18           0
4             68       0.0     20           0
...          ...       ...    ...         ...
116131        28       0.0     30           0
116132        29       0.0     29           0
116133        30       0.0     27           0
116134        31       0.0     26           0
116135        32       0.0     25           0

[116136 rows x 4 columns]